{% extends 'base.html' %}

{% block content %}

<style>
  body {
    font-family: 'Ubuntu', sans-serif;
  }

  .form {
    padding-left: 20px;
  }

  #design {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px;
  }


  .ad_footer_block {
    background-color: #005792;
  }

  .postion {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
  }

  /* Style all input fields */
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }

  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }

  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

  .mycontainer {
    width: 300px;
  }
  .con {
    width: 170px;
  }

</style>
<script>
  function myFunction() {
    var x = document.getElementById("psw");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

<div class="form">
  {% if error %}
  <center>
    <h5 style="color: red;"><b>{{ error }}</b></h5>
  </center>
  <br />
  <br />
  {% endif %}
  <br>
  <center>
    <h4><b><u>LOGIN</u></b></h4>

    <div class="mycontainer">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="usrname">USERNAME</label>
        <input class="bg-light" type="text" id="usrname" name="username" required>

        <label for="psw">PASSWORD</label>
        <input class="bg-light" type="password" id="psw" name="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          required>
        <div class="con">
          <input type="button" class="btn btn-danger" onclick="myFunction()" value="SHOW PASSWORD">
        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>
      </form>
    </div>
    <br>
    <div class="text-center">
      <h7><b>NOT REGISTERED YET<br><a href="{% url 'signup' %}">CLICK HERE</a></b></h7>
    </div>
  </center>

</div>

    {% endblock %}
