{% extends 'base.html' %}

{% block content %}


<div class="container mycont">
    <h1>Sign-in</h1>
    <br>
    {% if error %}
        {{ error }}
        <br />
        <br />
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter username" name="username">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <br>
        <p>To create an account <a href="{% url 'signup' %}">click here</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}