{% extends 'base.html' %}

{% block content %}

<style>
  #error{
    color: red;
  }
</style>


<div class="container mycont">
  <br>
  <h1>Sign-Up</h1>
  <br>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3">Username</label>
      <input type="text" id="form3Example3" class="form-control" name="username" required />

    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example4">Password</label>
      <input type="password" id="form3Example4" class="form-control" name="password1" required />

    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example4">Re-enter Password</label>
      <input type="password" id="form3Example4" class="form-control" name="password2" required />

    </div>

    <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  </form>

</div>


{% endblock %}